[user]
	name = Jeremy Cade
	email = jeremy@subete.com.au
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	ignorecase = false
[credential]
	helper = manager
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit
	flg = diff-tree --no-commit-id --name-only -r
[init]
	defaultBranch = main
[branch]
	autosetupmerge = always
	autosetuprebase = always
[fetch]
	prune = true
[pull]
	rebase = true
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED