.ssh
AppData
Contacts
Code
Desktop
Documents
Downloads
Dropbox
Favorites
Links
Music
NTUSER*
OneDrive
Pictures
SSWBatch.dat
Saved Games
Searches
Tracing
Videos
_viminfo
ntuser*
JsDocComments.js
Modern.Intellisense.js
.dnx
.v8flags*
.VirtualBox
.docker
.kdiff3rc