[user]
	name = Jeremy Cade
	email = me@jeremycade.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = kdiff3
[credential]
	helper = !'C:\\Users\\jeremycade\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
